.gauge {
  width: 256px;
}
.gauge .perforation {
  height: 10px;
}
.gauge .perforation-13 {
  background: radial-gradient(black 50%, transparent 50%);
  background-size: calc( 256px / 13 * 2 ) calc( 256px / 13 * 2 );
}
