.gauge {
  width: 256.7px;
}
.gauge .perforation {
  height: 16px;
  background: radial-gradient(black 50%, transparent 50%);
  background-repeat: repeat-x;
  background-position: 0 4px;
  border-top: 1px solid black;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.gauge .perforation .label {
  flex: 0 0 20px;
  background-color: rgba( 255, 255, 255, 0.3 );
  font-size: 8px;
  line-height: 20px;
  text-align: right;
}
.gauge .perforation-13 {
  background-size: calc( 100% / 26 ) 8px;
}
.gauge .perforation-12-5 {
  background-size: calc( 256.7px / ( 12.5 * 2 ) ) calc( 256.7px / ( 12.5 * 2 ) );
}
.gauge .perforation-12-25 {
  background-size: calc( 256.7px / ( 12.25 * 2 ) ) calc( 256.7px / ( 12.25 * 2 ) );
}
.gauge .perforation-12 {
  background-size: calc( 256.7px / ( 12 * 2 ) ) calc( 256.7px / ( 12 * 2 ) );
}
.gauge .perforation-11-75 {
  background-size: calc( 256.7px / ( 11.75 * 2 ) ) calc( 256.7px / ( 11.75 * 2 ) );
}
.gauge .perforation-11 {
  background-size: calc( 256.7px / ( 11 * 2 ) ) calc( 256.7px / ( 11 * 2 ) );
}
.gauge .perforation-10 {
  background-size: calc( 256.7px / ( 10 * 2 ) ) calc( 256.7px / ( 10 * 2 ) );
}
.gauge .perforation-9 {
  background-size: calc( 256.7px / ( 9 * 2 ) ) calc( 256.7px / ( 9 * 2 ) );
}
